<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markmzy.dao.OrderInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.markmzy.model.OrderInfo">
                    <id column="id" property="id"/>
                    <result column="user_id" property="userId"/>
                    <result column="day" property="day"/>
                    <result column="day_time" property="dayTime"/>
                    <result column="patient_id" property="patientId"/>
                    <result column="status" property="status"/>
                    <result column="dept_id" property="deptId"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, user_id, day, day_time, patient_id, status, dept_id
        </sql>

</mapper>