<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markmzy.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.markmzy.model.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="dept_id" property="deptId"/>
        <result column="role_name" property="roleName"/>
        <result column="images" property="images"/>
        <result column="realname" property="realname"/>
        <result column="sex" property="sex"/>
        <result column="date_of_birth" property="dateOfBirth"/>
        <result column="tel" property="tel"/>
        <result column="email" property="email"/>
        <result column="job_title" property="jobTitle"/>
        <result column="info" property="info"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , username, password, dept_id, role_name, images, realname, sex, date_of_birth, tel, email, job_title, info, create_by, update_time, create_time
    </sql>

    <select id="findUserByNameAndPwd" parameterType="com.markmzy.model.User" resultType="com.markmzy.model.User">
        SELECT *
        FROM user
        WHERE username = #{username}
          AND password = #{password}
          AND role_name = #{roleName}
    </select>

    <select id="queryUserAll" parameterType="com.markmzy.model.vo.UserDeptVo"
            resultType="com.markmzy.model.vo.UserDeptVo">
        SELECT user.*, dept.name as deptName
        FROM user LEFT JOIN dept ON user.dept_id = dept.id
        <where>
            <if test="realname != null and realname != ''">
                and realname like '%${realname}%'
            </if>
            <if test="deptId != null and deptId != ''">
                and dept_id = #{deptId}
            </if>
            <if test="jobTitle != null and jobTitle != ''">
                and job_title like '%${jobTitle}%'
            </if>
        </where>
    </select>

</mapper>